---
import BentoCard from "./BentoCard.astro";
import { OBSESSIONS } from "@/data/about";
---

<BentoCard prompt="$ tags">
  <ul class="flex flex-wrap gap-2">
    {
      OBSESSIONS.map(tag => (
        <li class="rounded-full border border-border px-3 py-1 font-mono text-sm">
          {tag}
        </li>
      ))
    }
  </ul>
</BentoCard>
